# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.[oa]
*~
build-stamp
cmake_build_tmp
configure-stamp
debian/files
debian/net.netpopup-dbg.debhelper.log
debian/net.netpopup-dbg.substvars
debian/net.netpopup-dbg
debian/net.netpopup.debhelper.log
debian/net.netpopup.install
debian/net.netpopup.substvars
debian/net.netpopup
debian/tmp
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
data/*.desktop
install_manifest.txt
net-popup
po/CMakeFiles
po/Makefile
po/cmake_install.cmake
po/*.mo
.project
.cproject
